.jsLogo {
    transition: 0.2s ease-out;
    width: 3.125em;
    height: 3.125em;
}

.jsLogo:hover {
    transition: 0.2s ease-out;
    width: 4.0625em;
    height: 4.0625em;
}

.pathOneLightMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-lightmode);
}

.pathOneDarkMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-darkmode);
}

.pathOneMouseEnter {
    transition: 0.2s ease-out;
    fill: rgb(255, 201, 40);
}