.form {
  width: 50%;
  display: grid;
  grid-template-areas: "name email" "subject subject" "message message" "button button";
  grid-template-rows: 50px 50px 180px;
  grid-template-columns: 50% 50%;

  gap: 20px 22px;
  padding: 5px 0px;
}

.form > *:not(.button) {
  border: none;
  background-color: #bdecb6;

  padding: 10px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 14px;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.subject {
  grid-area: subject;
}

.message {
  grid-area: message;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: button;
}

.btnSubmitDarkMode {
  transition: 0.2s;
  font-size: 14px;
  width: 180px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  outline: none;
  background-color: transparent;
  border: 1px #0979b0 solid;
  color: white;
  padding: 14px 8px;
  border-radius: 8px;
  cursor: pointer;

  overflow: hidden;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-align: center;
}

.btnSubmitDarkMode:hover {
  font-weight: 800;
}

.btnSubmitDarkMode::before {
  left: -5%;
  right: auto;
  bottom: auto;
  width: 110%;
  height: 195%;
  transform-origin: left bottom;
  transform: skewY(-10deg) scale(1, 0);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #0979b0;
  transition: transform 0.3s;
}

.btnSubmitDarkMode:hover::before {
  transform-origin: left top;
  transform: skewY(-10deg) scale(1, 1);
}

.btnSubmitLightMode {
  margin-top: 18px;

  transition: 0.2s;
  font-size: 14px;
  width: 180px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  outline: none;
  background-color: transparent;
  border: 1px #0979b0 solid;
  color: black;
  padding: 14px 8px;
  border-radius: 8px;
  cursor: pointer;

  overflow: hidden;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-align: center;
}

.btnSubmitLightMode:hover {
  font-weight: 800;
}

.btnSubmitLightMode::before {
  left: -5%;
  right: auto;
  bottom: auto;
  width: 110%;
  height: 195%;
  transform-origin: left bottom;
  transform: skewY(-10deg) scale(1, 0);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #0979b0;
  transition: transform 0.3s;
}

.btnSubmitLightMode:hover::before {
  transform-origin: left top;
  transform: skewY(-10deg) scale(1, 1);
}

@media (max-width: 950px) {
  .form {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .form {
    width: 100%;
    gap: 12px 10px;
  }

  .button {
    margin-top: 10px;
  }
}
