.cardWrapper {
  height: 320px;
  width: 57vw;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 16vw;
  /*background-size: 100%;
  background-repeat: no-repeat;*/
  border-radius: 4px;
  /*background-color: rgba(33, 72, 95, 0.4);*/
}

.image {
  box-sizing: border-box;
  width: 28.75vw;
  height: 16vw;
  position: absolute;
  /*background-size: 100%;
  background-repeat: no-repeat;*/
  border-radius: 4px;
  /*background-color: rgba(33, 72, 95, 0.4);*/
  box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.25);
}

.imageRight {
  right: 0;
}

.imageLeft {
  left: 0;
}

.content {
  min-width: 440px;
  width: 520px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 52%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.contentLeft {
  left: 0;
  text-align: start;
  justify-content: start;
}

.contentRight {
  right: 0;
  text-align: end;
  justify-content: start;
}

.content p {
  padding: 20px;

  background-color: rgba(42, 69, 85, 0.95);
  color: rgb(151, 196, 188);
  border-radius: 5px;
  line-height: 24px;
  text-align: left;
}

.title {
  width: fit-content;
  transition: 0.2s;
  margin-bottom: 1vw;
  font-size: 30px;
  font-family: var(--font-title);
  font-weight: 600;
}

.titleLightMode {
  color: var(--text-color-lightmode);
}

.titleDarkMode {
  color: var(--text-color-darkmode);
}

.techs {
  display: flex;
  color: var(--text-color-darkmode);
  font-size: 14px;
  letter-spacing: 1px;
}

.techsLeft {
  align-items: flex-start;
  justify-content: start;
}

.techsRight {
  align-items: flex-end;
  justify-content: end;
}

.techs ul {
  display: flex;
  gap: 15px;
}

.techLightMode {
  color: var(--color-blue-light);
}

.techDarkMode {
  color: var(--text-color-darkmode);
}

.links {
  display: flex;
  color: var(--color-blue-light);
}

.linksRight {
  align-items: flex-end;
  justify-content: end;
}

.linksLeft {
  align-items: flex-start;
  justify-content: start;
}

.links ul {
  display: flex;
  gap: 16px;
}

.links li {
  width: 32px;
  padding-left: 10px;
  cursor: pointer;
}

.logoLightMode {
  transition: 0.2s;
  stroke: black;
}

.logoHover {
  transition: 0.2s;
  stroke: #0979b0;
}

.logoDarkMode {
  transition: 0.2s;
  stroke: white;
}

@media (max-width: 1200px) {
  .cardWrapper {
    height: 310px;
    width: 553px;
  }

  .imageWrapper {
    height: 310px;
    width: 553px;
  }

  .image {
    height: 310px;
    width: 553px;
  }

  .content {
    width: 100%;
    background-color: rgba(42, 69, 85, 0.95);
    border-radius: 4px;
    padding: 10px;
    gap: 30px;
  }

  .content p {
    padding: 0;
    bottom: 0;
  }

  .contentLeft {
    left: 0;
    text-align: start;
    justify-content: end;
  }

  .contentRight {
    left: 0;
    text-align: start;
    justify-content: end;
  }

  .techsLeft {
    align-items: flex-start;
    justify-content: start;
  }

  .techsRight {
    align-items: flex-start;
    justify-content: start;
  }

  .linksRight {
    align-items: flex-start;
    justify-content: start;
  }

  .linksLeft {
    align-items: flex-start;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .cardWrapper {
    height: 250px;
    width: 445.97px;
  }

  .imageWrapper {
    height: 250px;
    width: 445.97px;
  }

  .image {
    height: 250px;
    width: 445.97px;
  }

  .content {
    width: 100%;
    background-color: rgba(42, 69, 85, 0.95);
    border-radius: 4px;
    padding: 10px;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .cardWrapper {
    height: 350px;
    width: 385.97px;
  }

  .imageWrapper {
    height: 250px;
    width: 385.97px;
  }

  .image {
    height: 250px;
    width: 385.97px;
  }

  .content p {
    width: 385.97px;
  }
}

@media (max-width: 420px) {
  .cardWrapper {
    height: 350px;
    width: 285.97px;
  }

  .imageWrapper {
    height: 250px;
    width: 285.97px;
  }

  .image {
    height: 250px;
    width: 285.97px;
  }

  .content p {
    width: 285.97px;
  }
}
