.card {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

.positionRight {
  position: absolute;
  right: 0;
}

.positionLeft {
  position: absolute;
  left: 0;
}

.alignItemsRight {
  align-items: flex-end;
}

.alignItemsLeft {
  align-items: flex-start;
}

.justifyRight {
  justify-content: flex-end;
}

.justifyLeft {
  justify-content: flex-start;
}

.imageWrapper {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  display: flex;
}

.image {
  border-radius: 4px;
}

.title h2 {
  font-family: var(--font-title-secondary);
  letter-spacing: 2px;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content p {
  color: rgb(151, 196, 188);
  font-family: var(--font-description);
  font-size: 18px;
  line-height: 25px;
  width: 500px;
  background-color: rgba(42, 69, 85, 0.95);
  padding: 15px;
  border-radius: 4px;
}

.textDarkMode {
  transition: 0.2s;
  color: var(--text-color-darkmode);
}

.textLightMode {
  transition: 0.2s;
  color: var(--text-color-lightmode);
}

.techs {
  width: inherit;
  display: flex;
  font-family: var(--font-techs);
  font-weight: 400;
}

.techs ul {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
}

.techs li {
  min-width: fit-content;
}

.links {
  width: inherit;
  display: flex;
}

.links ul {
  width: fit-content;
  display: flex;
  gap: 10px;
}

.links li {
  width: 24px;
  cursor: pointer;
}

.logoHover {
  transition: 0.2s;
  stroke: #0979b0;
}

.logoLightMode {
  transition: 0.2s;
  stroke: var(--text-color-lightmode);
}

.logoDarkMode {
  transition: 0.2s;
  stroke: var(--text-color-darkmode);
}

@media (max-width: 1200px) { 
  .card {
    width: 83vw;
  }
}

@media (max-width: 1150px) {

  .justifyRight {
    justify-content: flex-start;
  }

  .alignItemsRight {
    align-items: flex-start;
  }

  .card {
    margin: 0 auto;
    height: 360px;
    width: 100%;
    max-width: 620px;
    border-radius: 4px;
  }

  .title h2 {
    font-size: 18px;
  }

  .imageWrapper {
    align-items: center;
  }

  .image {
    width: inherit;
  }

  .content {
    gap: 0;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background-color: rgba(42, 69, 85, 0.95);
  }

  .content p {
    padding: 0;
    background-color: transparent;
    font-size: 18px;
    line-height: 25px;
    width: inherit;
  }

  .textLightMode {
    color: var(--text-color-darkmode);
  }

  .logoLightMode {
    transition: 0.2s;
    stroke: var(--text-color-darkmode);
  }
}

@media (max-width: 400px) {
  .card {
    height: 400px;
    width: 100%;
    border-radius: 4px;
  }

  .title h2 {
    font-size: 16px;
  }

  .content p {
    font-size: 16px;
    line-height: 20px;
  }
}
