.grid {
  margin-top: 3em;
  justify-content: center;
  display: grid;
  grid-template-columns: 25em 25em 25em;
  grid-template-rows: 18em 18em;
  gap: 2em;
}

@media (max-width: 1150px) {
  .grid {
    grid-template-columns: 25em 25em;
    grid-template-rows: 18em 18em 18em;
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 25em;
    grid-template-rows: 18em 18em 18em 18em 18em 18em;
  }
}
