.container {
  --keyb-bckd-color: #32314e;
  --code-bckd-color1: #02b9ff;
  font-size: 19px; /*this changes the size of the complete feature*/
}

.laptop {
  position: relative;
  top: -30.5em;
  left: 61%;

  width: 37.5em;
  height: 37.5em;

  display: flex;
  flex-direction: row;
}

.radial {
  display: block;
  position: absolute;
  top: -90%;
  bottom: 0%;
  right: 0;
  left: -130%;
  width: 80em;
  height: 37.5em;
  background-image: radial-gradient(
    ellipse at center,
    rgb(50, 119, 175) 0%,
    rgb(9, 32, 63, 0) 50%
  );
}

.keyboard {
  display: grid;
  width: 15.75em;
  height: 6.125em;
  grid-template-rows: 0.5fr repeat(5, 1fr);
  grid-template-columns: 13.75em;
  gap: 0.25em;

  position: absolute;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  padding: 0.8em 1em 0.5em;
  border-radius: 0.5em;
  box-shadow: -0.063em -0.063em 0.063em 0 rgba(104, 104, 116, 0.25),
    0.125em 0.125em 0.125em 0 rgba(255, 255, 255, 0);
}

.keyboard .row1 {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

.keyboard .row1 > div:first-child {
  width: 0.9em;
  background-color: var(--keyb-bckd-color);
}

.keyboard .row1 > div:last-child {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  width: 100%;
  column-gap: 0.25em;
  padding: 0 0.625em;
}

.keyboard .row1 > div:last-child > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row1 > div > div:nth-child(5) {
  background-color: transparent;
  grid-column: 5/11;
}

.keyboard .row2 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 0.25em;
}

.keyboard .row2 > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row2 > div:last-child {
  width: 1em;
}

.keyboard .row3 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 0.25em;
}

.keyboard .row3 > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row3 > div:first-child {
  width: 1em;
}

.keyboard .row4 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.25em;
}

.keyboard .row4 > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row4 > div:first-child {
  width: 1.1em;
}

.keyboard .row4 > div:last-child {
  width: 1.1em;
}

.keyboard .row5 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.25em;
}

.keyboard .row5 > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row5 > div:first-child {
  width: 1.3em;
}

.keyboard .row5 > div:last-child {
  width: 1.3em;
}

.keyboard .row6 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.25em;
}

.keyboard .row6 > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row6 > div:nth-child(4) {
  width: 1em;
}

.keyboard .row6 > div:nth-child(5) {
  grid-column: 5/10;
}

.keyboard .row6 > div:nth-child(6) {
  width: 1em;
}

.keyboard .row6 > div:nth-child(8) {
  background-color: transparent;
  grid-column: 12/14;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.11em 0.1em;
}

.keyboard .row6 > div:nth-child(8) > div {
  background-color: var(--keyb-bckd-color);
}

.keyboard .row6 > div:nth-child(8) > div:first-child {
  background-color: transparent;
}

.keyboard .row6 > div:nth-child(8) > div:nth-child(3) {
  background-color: transparent;
}

.touchpad {
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);

  position: absolute;
  width: 5em;
  height: 2.5em;

  bottom: 0.8em;

  border-radius: 0.25em;
  box-shadow: -0.0625em -0.0625em 0.0625em 0 rgba(104, 104, 116, 0.25),
    0.125em 0.125em 0.125em 0 rgba(255, 255, 255, 0);
}

.basePanel {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: auto;
  padding-top: 0.8em;
  width: 20em;
  height: 11.25em;
  background-color: #e4eee9;
  background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);

  border-top: #0d324d 0.0625em solid;

  border-radius: 1em;
  transform: rotate(28deg) skewX(-32deg);
  position: relative;
  z-index: 2;

  bottom: 0;
}

.bottomCover {
  width: 20.6875em;
  height: 11.8125em;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  border-radius: 1em 2.1em 1em 2.19em;
  transform: rotate(28deg) skewX(-32deg);

  position: absolute;
  top: 0.069em;
  left: -0.4em;
  z-index: 1;

  box-shadow: 0.9em 0.9em 0.3em 0.1em rgba(0, 0, 0, 0.32);
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top {
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  width: 20.6875em;
  height: 12.5em;
  border-bottom: #0d324d 0.0625em solid;
  position: absolute;
  bottom: 24.55%;
  left: 17%;
  border-radius: 1em;
  transform: rotate(28deg) skewX(20deg);
  display: flex;

  z-index: 1;
}

.monitor {
  width: 18.75em;
  height: 10.9375em;
  background-color: #58427c;
  background-image: linear-gradient(316deg, #58427c 0%, #746cc0 74%);
  margin: auto;
}

.topCover {
  position: absolute;

  background-color: #0d172c;
  background-image: linear-gradient(315deg, #091224 0%, #274060 74%);
  width: 20.625em;
  height: 12.8125em;

  bottom: 24.5%;
  left: 17.3%;

  border-radius: 1.5em 1.1em 1.5em 2em;

  border-left: #0d324d solid 0.0625em;
  transform: rotate(28deg) skewX(20deg);
}

.ui {
  width: 18.75em;
  height: 10.9375em;
  display: flex;

  flex-direction: column;
}

.ui .uiNav {
  background: rgba(50, 49, 78, 0.24);

  box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.031em);
  -webkit-backdrop-filter: blur(1.031em);

  height: 8%;
  width: 100%;
}

.ui .uiNav > div {
  margin-left: 0.3em;
  width: 11%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.2em 0.15em;
  gap: 0.16em;
  box-sizing: border-box;
}

.ui .uiNav > div > div {
  width: 100%;
  border-radius: 50%;
}

.ui .uiNav > div > div:first-child {
  background: rgba(241, 25, 11, 0.77);

  box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.ui .uiNav > div > div:nth-child(2) {
  background: rgba(255, 249, 12, 0.77);
  box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.ui .uiNav > div > div:last-child {
  background: rgba(138, 216, 25, 0.77);

  box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.ui .codeLines {
  height: 92%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.codeLines .block1 {
  background: rgba(88, 66, 124, 0.62);
  box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.375em);
  -webkit-backdrop-filter: blur(0.375em);

  display: flex;
  flex-direction: row;
  width: 25%;
}

.codeLines .block1 > div:first-child {
  height: 100%;
  width: 0.7em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1em;
  box-sizing: border-box;
  padding: 0.25em 0;
}

.codeLines .block1 > div:first-child > div {
  height: 2.5em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block1 > div:first-child > div:first-child {
  width: 0.15em;
  background-color: var(--code-bckd-color1);
}

.codeLines
  .block1
  > div:first-child
  > div:nth-child(1n + 2):not(:nth-child(1n + 7)) {
  width: 0.2em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block1 > div:first-child > div:nth-child(1n + 7) {
  width: 0.25em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block1 > div:last-child {
  width: 3.5em;
  height: 100%;
  padding: 0.25em 0 0.25em 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  box-sizing: border-box;
}

.codeLines .block1 > div:last-child > div {
  height: 2.5em;
  background-color: var(--code-bckd-color1);
  border-radius: 2em;
}

.codeLines .block1 > div:last-child > div:first-child,
.codeLines .block1 > div:last-child > div:nth-child(30) {
  width: 50%;
}

.codeLines .block1 > div:last-child > div:nth-child(2),
.codeLines .block1 > div:last-child > div:nth-child(31) {
  width: 30%;
}

.codeLines .block1 > div:last-child > div:nth-child(3),
.codeLines .block1 > div:last-child > div:nth-child(32) {
  width: 30%;
  margin-left: 0.4em;
}

.codeLines .block1 > div:last-child > div:nth-child(4),
.codeLines .block1 > div:last-child > div:nth-child(33) {
  width: 40%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(5),
.codeLines .block1 > div:last-child > div:nth-child(34) {
  width: 30%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(6) {
  width: 45%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(7) {
  width: 18%;
  margin-left: 0.4em;
}

.codeLines .block1 > div:last-child > div:nth-child(8),
.codeLines .block1 > div:last-child > div:nth-child(19) {
  width: 35%;
  margin-left: 0.4em;
}

.codeLines .block1 > div:last-child > div:nth-child(9),
.codeLines .block1 > div:last-child > div:nth-child(20) {
  width: 50%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(10),
.codeLines .block1 > div:last-child > div:nth-child(13),
.codeLines .block1 > div:last-child > div:nth-child(21),
.codeLines .block1 > div:last-child > div:nth-child(24) {
  width: 25%;
  margin-left: 1.2em;
}

.codeLines .block1 > div:last-child > div:nth-child(11),
.codeLines .block1 > div:last-child > div:nth-child(22) {
  width: 30%;
  margin-left: 1.6em;
}

.codeLines .block1 > div:last-child > div:nth-child(12),
.codeLines .block1 > div:last-child > div:nth-child(23),
.codeLines .block1 > div:last-child > div:nth-child(15),
.codeLines .block1 > div:last-child > div:nth-child(18),
.codeLines .block1 > div:last-child > div:nth-child(26),
.codeLines .block1 > div:last-child > div:nth-child(29) {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 0 0.2em;
}

.codeLines .block1 > div:last-child > div:nth-child(12) > div,
.codeLines .block1 > div:last-child > div:nth-child(23) > div,
.codeLines .block1 > div:last-child > div:nth-child(15) > div,
.codeLines .block1 > div:last-child > div:nth-child(18) > div,
.codeLines .block1 > div:last-child > div:nth-child(26) > div,
.codeLines .block1 > div:last-child > div:nth-child(29) > div {
  background-color: var(--code-bckd-color1);
  border-radius: 2em;
}

.codeLines .block1 > div:last-child > div:nth-child(12) > div:first-child,
.codeLines .block1 > div:last-child > div:nth-child(23) > div:first-child {
  width: 35%;
  height: 100%;
  margin-left: 1.6em;
}

.codeLines .block1 > div:last-child > div:nth-child(12) > div:last-child,
.codeLines .block1 > div:last-child > div:nth-child(23) > div:last-child {
  width: 5%;
  height: 100%;
}

.codeLines .block1 > div:last-child > div:nth-child(14),
.codeLines .block1 > div:last-child > div:nth-child(25) {
  width: 20%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(15) > div:first-child {
  width: 35%;
  height: 100%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(15) > div:last-child {
  width: 30%;
  height: 100%;
}

.codeLines .block1 > div:last-child > div:nth-child(16) {
  width: 20%;
  margin-left: 1.2em;
}

.codeLines .block1 > div:last-child > div:nth-child(17) {
  width: 25%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(18) > div:first-child {
  width: 25%;
  height: 100%;
  margin-left: 0.8em;
}

.codeLines .block1 > div:last-child > div:nth-child(18) > div:last-child {
  width: 30%;
  height: 100%;
}

.codeLines .block1 > div:last-child > div:nth-child(26) > div:first-child {
  width: 35%;
  height: 100%;
  margin-left: 0.3em;
}

.codeLines .block1 > div:last-child > div:nth-child(26) > div:last-child {
  width: 35%;
  height: 100%;
}

.codeLines .block1 > div:last-child > div:nth-child(27) {
  width: 25%;
  margin-left: 0.5em;
}

.codeLines .block1 > div:last-child > div:nth-child(28) {
  width: 25%;
  margin-left: 0.3em;
}

.codeLines .block1 > div:last-child > div:nth-child(29) > div:first-child {
  width: 25%;
  height: 100%;
  margin-left: 0.3em;
}

.codeLines .block1 > div:last-child > div:nth-child(29) > div:last-child {
  width: 35%;
  height: 100%;
}

.codeLines .block2 {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.codeLines .block2 > div:first-child {
  height: 100%;
  width: 1.1em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2em;
  box-sizing: border-box;
  padding: 0.25em 0 0.15em 0;
}

.codeLines .block2 > div:first-child > div {
  height: 3em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block2 > div:first-child > div:first-child {
  width: 0.25em;
  background-color: var(--code-bckd-color1);
}

.codeLines
  .block2
  > div:first-child
  > div:nth-child(1n + 2):not(:nth-child(1n + 7)) {
  width: 0.3em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block2 > div:first-child > div:nth-child(1n + 7) {
  width: 0.35em;
  background-color: var(--code-bckd-color1);
}

.codeLines .block2 > div:last-child {
  width: 3.5em;
  width: 100%;
  height: 100%;
  padding: 0.25em 0 0.25em 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  box-sizing: border-box;
}

.codeLines .block2 > div:last-child > div {
  height: 2.5em;
  background-color: var(--code-bckd-color1);
  border-radius: 2em;
}

.codeLines .block2 > div:last-child > div:first-child {
  width: 20%;
}

.codeLines .block2 > div:last-child > div:nth-child(2) > div:first-child {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(2) > div:nth-child(2) {
  width: 35%;
}

.codeLines .block2 > div:last-child > div:nth-child(2) > div:nth-child(3) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(2) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(3) {
  width: 15%;
  margin-left: 0.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(4) > div:first-child {
  width: 20%;
  margin-left: 1.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(4) > div:last-child {
  width: 5%;
}

.codeLines .block2 > div:last-child > div:nth-child(5) > div:first-child {
  width: 15%;
  margin-left: 1.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(5) > div:nth-child(2) {
  width: 30%;
}

.codeLines .block2 > div:last-child > div:nth-child(5) > div:nth-child(3) {
  width: 5%;
}

.codeLines .block2 > div:last-child > div:nth-child(5) > div:last-child {
  width: 10%;
}

.codeLines .block2 > div:last-child > div:nth-child(6) {
  width: 35%;
  margin-left: 1.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(7) {
  width: 5%;
  margin-left: 0.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(8) > div:first-child {
  width: 10%;
  margin-left: 0.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(8) > div:last-child {
  width: 35%;
}

.codeLines .block2 > div:last-child > div:nth-child(9) > div:first-child {
  width: 20%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(9) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(10) > div:first-child {
  width: 10%;
  margin-left: 1.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(10) > div:nth-child(2) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(10) > div:nth-child(3) {
  width: 10%;
}

.codeLines .block2 > div:last-child > div:nth-child(10) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(11) > div:first-child {
  width: 10%;
  margin-left: 2.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(11) > div:nth-child(2) {
  width: 20%;
}

.codeLines .block2 > div:last-child > div:nth-child(11) > div:nth-child(3) {
  width: 10%;
}

.codeLines .block2 > div:last-child > div:nth-child(11) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(12) > div:first-child {
  width: 15%;
  margin-left: 2.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(12) > div:nth-child(2) {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(12) > div:last-child {
  width: 35%;
}

.codeLines .block2 > div:last-child > div:nth-child(13) {
  width: 10%;
  margin-left: 1.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(14) {
  width: 8%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(15) > div:first-child {
  width: 15%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(15) > div:nth-child(2) {
  width: 10%;
}

.codeLines .block2 > div:last-child > div:nth-child(15) > div:nth-child(3) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(15) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(16) > div:first-child {
  width: 11%;
  margin-left: 1.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(16) > div:last-child {
  width: 49%;
}

.codeLines .block2 > div:last-child > div:nth-child(17) {
  width: 10%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(18) > div:first-child {
  width: 10%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(18) > div:nth-child(2) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(18) > div:nth-child(3) {
  width: 8%;
}

.codeLines .block2 > div:last-child > div:nth-child(18) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(19) > div:first-child {
  width: 11%;
  margin-left: 0.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(19) > div:last-child {
  width: 31%;
}

.codeLines .block2 > div:last-child > div:nth-child(20) > div:first-child {
  width: 20%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(20) > div:last-child {
  width: 5%;
}

.codeLines .block2 > div:last-child > div:nth-child(21) > div:first-child {
  width: 12%;
  margin-left: 1.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(21) > div:nth-child(2) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(21) > div:nth-child(3) {
  width: 7%;
}

.codeLines .block2 > div:last-child > div:nth-child(21) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(22) > div:first-child {
  width: 14%;
  margin-left: 2.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(22) > div:nth-child(2) {
  width: 15%;
}

.codeLines .block2 > div:last-child > div:nth-child(22) > div:nth-child(3) {
  width: 10%;
}

.codeLines .block2 > div:last-child > div:nth-child(22) > div:last-child {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(23) > div:first-child {
  width: 20%;
  margin-left: 2.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(23) > div:nth-child(2) {
  width: 3%;
}

.codeLines .block2 > div:last-child > div:nth-child(23) > div:last-child {
  width: 28%;
}

.codeLines .block2 > div:last-child > div:nth-child(24) {
  width: 10%;
  margin-left: 1.8em;
}

.codeLines .block2 > div:last-child > div:nth-child(25) {
  width: 8%;
  margin-left: 1.3em;
}

.codeLines .block2 > div:last-child > div:nth-child(2),
.codeLines .block2 > div:last-child > div:nth-child(4),
.codeLines .block2 > div:last-child > div:nth-child(5),
.codeLines .block2 > div:last-child > div:nth-child(8),
.codeLines .block2 > div:last-child > div:nth-child(9),
.codeLines .block2 > div:last-child > div:nth-child(10),
.codeLines .block2 > div:last-child > div:nth-child(11),
.codeLines .block2 > div:last-child > div:nth-child(12),
.codeLines .block2 > div:last-child > div:nth-child(23),
.codeLines .block2 > div:last-child > div:nth-child(15),
.codeLines .block2 > div:last-child > div:nth-child(16),
.codeLines .block2 > div:last-child > div:nth-child(18),
.codeLines .block2 > div:last-child > div:nth-child(19),
.codeLines .block2 > div:last-child > div:nth-child(20),
.codeLines .block2 > div:last-child > div:nth-child(21),
.codeLines .block2 > div:last-child > div:nth-child(22),
.codeLines .block2 > div:last-child > div:nth-child(23) {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 0 0.4em;
}

.codeLines .block2 > div:last-child > div:nth-child(2) > div,
.codeLines .block2 > div:last-child > div:nth-child(4) > div,
.codeLines .block2 > div:last-child > div:nth-child(5) > div,
.codeLines .block2 > div:last-child > div:nth-child(8) > div,
.codeLines .block2 > div:last-child > div:nth-child(9) > div,
.codeLines .block2 > div:last-child > div:nth-child(10) > div,
.codeLines .block2 > div:last-child > div:nth-child(11) > div,
.codeLines .block2 > div:last-child > div:nth-child(12) > div,
.codeLines .block2 > div:last-child > div:nth-child(23) > div,
.codeLines .block2 > div:last-child > div:nth-child(15) > div,
.codeLines .block2 > div:last-child > div:nth-child(16) > div,
.codeLines .block2 > div:last-child > div:nth-child(18) > div,
.codeLines .block2 > div:last-child > div:nth-child(19) > div,
.codeLines .block2 > div:last-child > div:nth-child(20) > div,
.codeLines .block2 > div:last-child > div:nth-child(21) > div,
.codeLines .block2 > div:last-child > div:nth-child(22) > div,
.codeLines .block2 > div:last-child > div:nth-child(23) > div {
  background-color: var(--code-bckd-color1);
  border-radius: 2em;
}

@media (max-width: 1350px) {
  .container {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .container {
    font-size: 13px;
  }

  .laptop {
    position: relative;
    top: -17.5em;
    left: 60%;

    width: 37.5em;
    height: 37.5em;

    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .container {
    font-size: 10px;
  }

  .laptop {
    position: relative;
    top: -2.5em;
    left: 20%;

    width: 37.5em;
    height: 37.5em;

    display: flex;
    flex-direction: row;
  }
}



/*
@media (max-width: 1400px) {
  .container {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .laptop {
    top: -2.5rem;
    left: 20%;
    font-size: 0.7rem;
  }
}
*/
