.hero {
    padding-top: 20px;
    width: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    gap: 60px;
  }
  
  .bigHeading {
    height: 400px;
    width: max-content;
  }
  
  .bigHeading h2 {
    width: inherit;
    font-size: clamp(40px, 5vw, 80px);
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
  }
  
  .nameLightMode {
    color: black;
    transition: 0.2s;
  }
  
  .nameDarkMode {
    color: white;
    transition: 0.2s;
  }
  
  .surName {
    color: #0979b0;
  }
  
  .bigHeading h3 {
    width: inherit;
    padding: 5px 0px 5px 10px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
  
    letter-spacing: 17px;
    text-align: center;
  }
  
  .professionLightMode {
    background-color: #b5b5b5;
    transition: 0.2s;
  }
  
  .professionDarkMode {
    background-color: aliceblue;
    transition: 0.2s;
  }
  
  .resumeDarkMode {
    transition: 0.2s;
    font-size: 14px;
    width: 180px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    outline: none;
    background-color: transparent;
    border: 1px #0979b0 solid;
    color: white;
    padding: 14px 8px;
    border-radius: 8px;
    cursor: pointer;
  
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    display: inline-block;
    z-index: 1;
    text-align: center;
  }
  
  .resumeDarkMode:hover {
    font-weight: 800;
  }
  
  .resumeDarkMode::before {
    left: -5%;
    right: auto;
    bottom: auto;
    width: 110%;
    height: 195%;
    transform-origin: left bottom;
    transform: skewY(-10deg) scale(1, 0);
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: #0979b0;
    transition: transform 0.3s;
  }
  
  .resumeDarkMode:hover::before {
    transform-origin: left top;
    transform: skewY(-10deg) scale(1, 1);
  }
  
  .resumeLightMode {
    transition: 0.2s;
    font-size: 14px;
    width: 180px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    outline: none;
    background-color: transparent;
    border: 1px #0979b0 solid;
    color: black;
    padding: 14px 8px;
    border-radius: 8px;
    cursor: pointer;
  
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    display: inline-block;
    z-index: 1;
    text-align: center;
  }
  
  .resumeLightMode:hover {
    font-weight: 800;
  }
  
  .resumeLightMode::before {
    left: -5%;
    right: auto;
    bottom: auto;
    width: 110%;
    height: 195%;
    transform-origin: left bottom;
    transform: skewY(-10deg) scale(1, 0);
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: #0979b0;
    transition: transform 0.3s;
  }
  
  .resumeLightMode:hover::before {
    transform-origin: left top;
    transform: skewY(-10deg) scale(1, 1);
  }
  
  .pdfLogo {
    background-color: aqua;
    height: 100%;
    position: relative;
    margin-right: 25px;
  }
  
  .pdfIcon {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .pdfIconLightMode {
    transition: 0.2s;
    fill: black;
  }
  
  .pdfIconDarkMode {
    transition: 0.2s;
    fill: white;
  }
  