.title {
  display: flex;
  flex-direction: row;

  gap: 5px;

  align-items: center;
  width: 100%;
}

.title h3 {
  font-family: var(--font-family-sub);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  min-width: fit-content;
  max-width: 18em;
  margin-right: 12px;

  color: white;
}

.line {
  width: 100%;
}

.line > div {
  height: 1px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
