@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.about {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-height: inherit;
  justify-content: center;
  align-items: center;

}

.rowOne {
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.description {
  width: 50%;
  font-size: 1.5em;
  padding: 20px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.descriptionDarkMode {
  color: var(--text-color-darkmode);
}

.descriptionLightMode {
  color: var(--text-color-lightmode)
}

.rowTwo {
  min-width: 900px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
}

.techBlock {
  width: 100%;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.techBlock h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Michroma', sans-serif;
}

.techTitleLightMode {
  color: var(--text-color-lightmode)
}

.techTitleDarkMode {
  color: var(--text-color-darkmode)
}

.techs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1200px) {
  .about {
    font-size: 14px;
  }

  .rowTwo {
    min-width: 700px;
    width: 70%;
    gap: 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 800px) {

  .rowOne {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .description {
    width: 90%;
    padding: 10px;
  }

  .rowTwo {
    min-width: 100%;
    gap: 50px;
    padding-bottom: 80px;
  }

  .techBlock {
    flex-direction: column;
    
  }

  .techBlock h2{
    width: 100%;
    text-align: start;
    margin-bottom: 15px;
  }

  .techs {
    gap: 0px;
  }
}

@media (max-width: 720px) {

  .rowOne {
    margin-top: 40px;
    gap: 10px;
  }

  .description {
    width: 100%;
  }

}
