.contact {
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}

@keyframes revealContact {
  0% {
    opacity: 0%;
    gap: 200px;
  }
  100% {
    opacity: 100%;
    gap: 0px;
  }
}

.wrapper {
  width: 100%;
  padding: 0;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: revealContact 1s;
}

.mail {
  max-height: 300px;
}

@media (max-width: 950px) {
  .mail {
    max-height: 200px;
  }
}

@media (max-width: 800px) {
  .mail {
    display: none;
  }

  .wrapper {
    justify-content: start;
  }
}
