.nav {
  --border-color: #0979b0;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-btns);
  margin-top: 10px;
}

.navLinks {
  font-size: var(--font-size-s-s);
  display: flex;
  flex-direction: row;
  gap: 2em;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: 2;
}

.navLinks * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navLinks li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}

.navLinks span {
  /*color: var(--color-secondary);
      display: block;
      position: relative;*/

  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: var(--color-secondary);
  position: relative;
  cursor: pointer;
}

.navLinks span::before,
.navLinks span::after {
  height: 14px;
  content: "";
  width: 14px;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.navLinks span::before {
  left: 0;
  top: 0;
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.navLinks span::after {
  right: 0;
  bottom: 0;
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.navLinks span:hover,
.navLinks .current span {
  color: var(--color-primary);
}

.navLinks span:hover::before,
.navLinks .current span::before,
.navLinks span:hover::after,
.navLinks .current span::after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}



@media (max-width: 800px) {
  .navLinks {
    display: none;
  }

  .navLinks.menu {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-weight: 500;
    letter-spacing: 3px;

    position: absolute;
    top: 70px;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 50px 0;

    background: rgba(0, 65, 115, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .nav.menu {
    width: 100%;
  }
}


