.navBar {
  position: absolute;
  top: -100px;
  width: 100%;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);

  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}

.onTop {
  top: 0px;
  padding-top: 18px;
}

.navBar.scrolledUp {
  top: 0px;
  padding-top: 0px;
  position: fixed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0px 6px 0px rgba(0, 0, 0, 0.23);
}
@media (max-width: 880px) {
  .navBarMenuOpened {
    position: fixed;
    width: 100%;
    height: 100vh;

    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);

    transition: 0.5s;
    z-index: 7;
    overflow: hidden;
  }

  .backgroundMenuOpened {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(0.1em);
    backdrop-filter: blur(0.1em);
    z-index: 7;
    transition: 0.2s;
  }
}
