.gitLogo {
    transition: 0.2s ease-out;
    width: 3.75em;
}

.gitLogo:hover {
    transition: 0.2s ease-out;
    width: 5em;
}

.pathOneLightMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-lightmode);
}

.pathOneDarkMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-darkmode);
}

.pathOneMouseEnter {
    transition: 0.2s ease-out;
    fill: #F05133;
}