.header {
  position: absolute;
  width: 100%;

  padding: 0 var(--padding-h-container-l);
  z-index: 3;
}

.header.menu {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);

  }

  @media (max-width: 1350px) {
    .header {
      padding: 0 var(--padding-h-container-m);
    }
  }

@media (max-width: 800px) {
}
