.socialListTag {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  margin-left: 40px;
}

.socialList li {
  list-style: none;
  margin: 25px 0;
  width: 35px;
}

.logoLightMode {
  transition: 0.2s;
  stroke: black;
}

.logoHover {
  transition: 0.2s;
  stroke: #0979b0;
}

.logoDarkMode {
  transition: 0.2s;
  stroke: white;
}

.socialListAppear {
  opacity: 0;
  animation: appearSocialList 0.2s forwards 3.6s;
}

.socialListAppear li {
  list-style: none;
  margin: 25px 0;
  width: 35px;
}

@keyframes appearSocialList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 950px) {
  .socialListTag {
    display: none;
  }
}
