.container {
  --container-height: 33px;
  --container-width: 33px;
  --bar-height: 3px;
  --bar-width: 40px;
  --bar-color: #0979b0;
  overflow: hidden;

  position: relative;

  overflow: hidden;

  display: none;
}

.container.open:hover {
  transition-duration: 0.1s;
  gap: 12px;
}

.container.close {

  display: none;
}


.bar1.close {
  height: var(--bar-height);
  width: 60px;
  border-radius: none;

  background-color: var(--bar-color);
  animation: turnBar1 0.2s;
  animation-fill-mode: forwards;
}

.bar2.close {
  height: var(--bar-height);
  width: var(--bar-width);
  border-radius: none;

  background-color: var(--bar-color);

  position: absolute;
  margin: auto;

  animation: hiddeBar 0.2s linear;
  animation-fill-mode: forwards;
}


.bar3.close {
  height: var(--bar-height);
  width: 60px;
  border-radius: none;
  background-color: var(--bar-color);

  animation: turnBar3 0.2s;
  animation-fill-mode: forwards;
}

.bar1.open {
  height: var(--bar-height);
  width: 60px;
  border-radius: none;
  display: true;

  background-color: var(--bar-color);

  /* background-color: var(--bar-color);
  animation: turnBar1 0.2s;
  animation-fill-mode: forwards; */
}

.bar2.open {
  height: var(--bar-height);
  width: var(--bar-width);
  border-radius: none;

  background-color: var(--bar-color);

  /*
  position: absolute;
  margin: auto;

  animation: hiddeBar 0.2s linear;
  animation-fill-mode: forwards;*/
}

.bar3.open {
  height: var(--bar-height);
  width: 60px;
  border-radius: none;
  background-color: var(--bar-color);
  /* 
  animation: turnBar3 0.2s;
  animation-fill-mode: forwards; */
}

@keyframes turnBar1 {
  0% {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    border-radius: 10px;
  }

  100% {
    position: absolute;
    left: 0px;
    top: -1.5px;
    transform-origin: 0% 0%;
    transform: rotate(45deg);
  }
}

@keyframes turnBar3 {
  0% {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0% 0%;
    border-radius: 10px;
  }
  100% {
    position: absolute;
    left: 0px;
    bottom: -1.5px;
    transform-origin: 0% 0%;
    transform: rotate(-45deg);
  }
}

@keyframes turnComplete {
  0% {
    position: relative;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hiddeBar {
  0% {
    position: absolute;
  }
  100% {
    transform: translateX(45px);
  }
}

@media (max-width: 800px) {

  .container{
    display: visible;
  }

  .container.open {
    display: visible;
    height: var(--container-height);
    width: var(--container-width);

    display: flex;
    flex-direction: column;

    gap: 8px;
    cursor: pointer;
    justify-content: center;
  }

  .container.close {

    animation: turnComplete 0.4s;
    display: visible;
    height: var(--container-height);
    width: var(--container-width);
  
    display: flex;
    flex-direction: column;
  
    gap: 8px;
    cursor: pointer;
    justify-content: center;

    display: visible;
  }
}
