.section {
  margin: 0;
  box-sizing: border-box;
  width: 100%;

  padding: 0 var(--padding-h-container-l);

  overflow: hidden;
}

@media (max-width: 910px) {
  .section {
    padding: 0 var(--padding-h-container-m);
  }
}
