
.box {
    position: relative;
    width: 13.75em;
    height: 13.75em;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #00ccff, #d400d4);
}

.photo {
    width: 13.125em;
    z-index: 2;
}

@media (max-width: 720px) {
    .box {
        width: 10em;
        height: 10em;
    }

    .photo {
        width: 9.54em;
    }
}

