.cssLogo {
    transition: 0.2s ease-out;
    width: 4.375em;
    
}

.cssLogo:hover {
    transition: 0.2s ease-out;
    width: 5.625em;
    fill: rgb(34, 153, 248);
}

.pathOneLightMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-lightmode);
}

.pathOneDarkMode {
    transition: 0.2s ease-out;
    fill: var(--text-color-darkmode);
}