.springLogo {
  transition: 0.2s ease-out;
  width: 3.125em;
  height: 3.125em;
}

.springLogo:hover {
  transition: 0.2s ease-out;
  width: 4.0625em;
  height: 4.0625em;
}

.springLogoMouseEnter {
  transition: 0.2s ease-out;
  fill: rgb(109, 179, 63);
}

.springLogoLightMode {
  transition: 0.2s ease-out;
  fill: var(--text-color-lightmode);
}

.springLogoDarkMode {
  transition: 0.2s ease-out;
  fill: var(--text-color-darkmode);
}
