.slider {
    margin-top: 2.5em;
  width: inherit;
  height: 300px;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1em;

  animation: slide 25s infinite linear;
  position: relative;
}

@keyframes slide {
  0% {
    right: 0;
  }
  100% {
      right: 148em;
  }
}
